.footer_1_container {
  width: 100%;
  margin-top: 0px;
  height: 50vh;
  background-color: #0d1f2e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left_footer_1_sec {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: center;
  margin-left: 90px;
}
.right_footer_1_sec {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  justify-content: center;
}
.footer_1_span_1 {
  color: white;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 14px;
  font-weight: 500;
}
.footer_1_span_2 {
  color: #f5ffe2;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
}
.footer_1_button {
  background-color: #a4c61f;
  padding: 16px 24px;
  width: 80px;
  border-radius: 52px;
  color: white;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}
.delivery {
  transform: scale(0.2);
}
